<footer class="footer_butcher">
<a class="subscribe_butcher icon-rss" target="_blank" href="{{@blog.url}}/rss/"><span class="hidethis_butcher">subscribe.</span></a>
<div class="footertext_butcher">&copy; 2016 &bull; based on <a href="http://hackcss.com">hack</a> &bull; 
powered by <a href="icon-ghost" href="http://tryghost.org" target="_blank">ghost</a></div>
</footer>
