<footer class="footer_butcher">
<div class="footertext_butcher">~ &copy; 2016 aw &bull; <a class="subscribe_butcher icon-rss" target="_blank" href="{{@blog.url}}/rss/"><span class="hidethis_butcher">rss</span></a> &bull; 
<a href="http://hackcss.com">hack</a> &bull; 
<a href="http://tryghost.org" target="_blank">ghost</a> ~</div>
</footer>
