html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.wrapper_butcher {
  max-width: 600px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.blogtitle_butcher, .posttitle_butcher {
  padding-top: 10px !important;
  padding-bottom: 30px !important;
}

p {
  margin-top: 0 !important;
  margin-bottom: 10px !important;
}

h2, h3, h4, h5, h6 {
  margin-bottom: 10px !important;
}

.blogdescription_butcher {
  margin-top: -15px !important;
}

.logo_butcher {
  margin-top: 10px;
}

img {
  max-width: 100% !important;
}

a img {
  text-decoration: none !important;
  border: 0 none !important;
}

.pagination_butcher {
  margin-top: 15px !important;
  text-transform: lowercase;
  font-weight: bold;
}

.postimage_butcher {
  display: block;
  width: 100% !important;
}

.footer_butcher {
  position: fixed;
  bottom: 0;
  left: 0;
  width:100%;
  color: #fff !important;
  background: #000 !important;
  padding: 5px !important;
  text-align: center !important;
}

body {
  margin-bottom: 40px;
}
